{profiles, [
  {test, [
    {erl_opts, [
      debug_info
    ]},
    {cover_enabled, true},
    {cover_opts, [verbose]},
    {xref_checks, [undefined_function_calls]},
    {deps, [
      {epcap, {git, "git@dev.jtendo.com:erl/epcap.git", {branch, "master"}}}
    ]}
  ]}
]}.

{dialyzer, [
  {warnings, [
    unmatched_returns,
    error_handling,
    race_conditions,
    underspecs
  ]}
]}.
